body{
	padding: 0;

	margin: 0;
}

.btn {

background-color: orange; 

border-radius: 30px; /* Curve of border corners */

text-transform: uppercase; /* Make letters uppercase */

color: white; /* Text color */

}
