<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="templates/css.css" media="screen">
		<!-- JQUERY -->
		<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
			$(function() {
			  $('a#process_input').bind('click', function() {
				$.getJSON('/background_process', {
				  listname: $('input[name="listname"]').val(),
				  username: $('input[name="username"]').val(),
				}, function(data) {
				  $("#result").text(data.result);
				});
				return false;
			  });
			});
		</script> -->
	<!-- JQUERY -->
	<title>Random Movie Roulette</title>
</head>
<body style="background-color: #202830; text-align:center">
	<img src="https://a.ltrbxd.com/logos/letterboxd-logo-h-neg-rgb-1000px.png" width="450" height="90" alt="FLetterboxd">
	<b><center><font color="white" face = "Verdana" size = "6">Random Movie Roulette</font></center></b>

	<!-- Film chosen for you -->
	{% block content %}{% endblock %}

	<!-- Forms -->
<form action="{{ url_for('handle_data') }}" method="POST">
<form>
  <div class="form-row">
    <div class="col">
      <input type="text" size=25 name=username class="form-control" placeholder="Username">
   	 </div>
   	 <div class="col">
      <input type="text" size=25 name=listname class="form-control" placeholder="List Name">
    </div>
  </div>
  <p><input type = "submit" class="buttonclass" value = "Random!" /></p>
</form>

	<!-- About and info -->
	<p align="left"><b><font color="white" face = "Verdana" size = "5">1. List must have 100+ films<br>
																	   2. User and List names must match list URL; ex. some list names are shortened in the list URL, form is sensitive to spaces
																	   </font></b></p>
    <p align="left"><font color="white" face = "Verdana" size = "5"><a href="https://letterboxd.com/tobiasandersen2/list/random-movie-roulette/"style="color: orange">Random Movie Roulette</a> is a popular Letterboxd list with which a user can use RANDOM.org to randomly choose a movie from a list of thousands.<br>This is a fun and excting way to choose films but scrolling through list pages can be tedious, and using unnumbered lists can make this method tough. With Random Movie Roulette, randomising letterboxd lists can be done easily.<br></font></p>
    <p><a href="https://github.com/breanna13"style="color: orange">By Breanna W</a></p>

</body>
</html>
